# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environments
.env
venv/
venv*/
.env.*

# VSCode
.vscode/
.code-workspace

# Migrations — saqlanadi, faqat pycache emas!
**/migrations/__pycache__/

# OS Files
.DS_Store
Thumbs.db

# Cache
*.egg-info/
*.egg
dist/
build/

# Virtualenv
.env/
.venv/
ENV/
env/

# Python Tools
pip-log.txt
pip-delete-this-directory.txt
